{{ template "base" . }}


{{ define "content" }}

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt-4">
        <img 
          src="/static/images/harbour_italy_painting.jpg"
          class="img-fluid rounded mx-auto d-block room-image"
          alt="Italian harbour at night"
        >
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h1 class="text-center mt-4">De Juliette</h1>
        <p>Niemand weet niemand weet hihihi</p>
        <div class="text-center mt-5">
          <a href="/maak-een-boot" class="btn btn-success">Beheer de Juliette?!</a>
        </div>
      </div>
    </div>
  </div>
  
{{ end }}
